spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
  liquibase:
    enabled: true

management.endpoints.web.exposure.include: health,info,metrics

changelog:
  allowed-origins: ${HB_ALLOWED_ORIGINS}
  timezone-default: ${HB_TIMEZONE_DEFAULT:UTC}

security:
  jwt:
    signing-key: ${JWT_SIGNING_KEY}
    issuer: "changelog"
    access-token-ttl-minutes: 60