spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.jdbc.time_zone: UTC
    open-in-view: false
    show-sql: false
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/master-changelog.xml
    contexts: prod

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      probes:
        enabled: true
      show-details: never
  info:
    env:
      enabled: true

info:
  app:
    name: ChangeLog
    version: ${APP_VERSION:prod}

changelog:
  allowed-origins: ${HB_ALLOWED_ORIGINS}
  timezone-default: America/New_York

security:
  jwt:
    signing-key: ${JWT_SIGNING_KEY}
    issuer: "changelog"
    access-token-ttl-minutes: 60